@font-face {
    font-family: 'IRANSansWeb';
    src: url("../fonts/IRANSansWeb.eot");
    src: url("../fonts/IRANSansWeb.woff2") format("woff2"), url("../fonts/IRANSansWeb.woff") format("woff"), url("../fonts/IRANSansWeb.ttf") format("truetype"), url("../fonts/IRANSansWeb.svg#IRANSansWeb") format("svg"), url("../fonts/IRANSansWeb.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'naskh';
    src: url("../fonts/AdobeNaskh-Medium.eot");
    src: url("../fonts/AdobeNaskh-Medium.woff2") format("woff2"), url("../fonts/AdobeNaskh-Medium.woff") format("woff"), url("../fonts/AdobeNaskh-Medium.ttf") format("truetype"), url("../fonts/AdobeNaskh-Medium.svg#AdobeNaskh-Medium") format("svg"), url("../fonts/AdobeNaskh-Medium.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal
}

.mce-notification{
display: none !important;
z-index:-1;
}
* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: 'IRANSansWeb', 'naskh', Tahoma;
    direction: rtl;
    transition: all 300ms
}

.acf-image-uploader .has-image{
	float: right !important;
}

.ul.acf-radio-list.horizontal li, ul.acf-checkbox-list.horizontal li{
    float: right !important;
    margin-left: 20px;
    margin-right: 0 !important;
} 